<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Password</title>
  </head>
  <body>
    <h1>Update Password</h1>
    <form action="/user/update-password" method="post">
      <label for="oldPassword">Enter your old password</label>
      <input type="password" name="oldPassword" id="oldPassword" /><br />
      <label for="newPassword">Enter your new password</label>
      <input type="password" name="newPassword" id="newPassword" /><br />
      <label for="confirmPassword">Confirm new password</label>
      <input
        type="password"
        name="confirmPassword"
        id="confirmPassword"
      /><br />
      <button type="submit">Update</button>
    </form>
    <p style="color: red"><%= locals.error %></p>
  </body>
</html>
